<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <link rel="stylesheet" href="styles/dashboard.css">
</head>

<body>
    <!-- creating the search transition -->
    <div class="temp"></div>
    <div class="first-block"></div>
    <div class="second-block"></div>
    <div class="loader">
        <ul>
            <li>D</li>
            <li>A</li>
            <li>S</li>
            <li>H</li>
            <li>B</li>
            <li>O</li>
            <li>A</li>
            <li>R</li>
            <li>D</li>
        </ul>
    </div>
    <!-- nav bar -->
    <nav class="nav">
        <span class="logout">LOGOUT</span>
        <span class="search">SEARCH</span>

        <!-- creating the logo -->
        <div class="logo">
            <span>L3RN</span>
        </div>
    </nav>


    <div class="content">
        <!-- heading/username -->
        <div class="heading">
            <!-- <span>DASHBOARD</span> -->

            <p class="name"></p>
        </div>
        <!-- status/description  -->
        <div class="desc">
            <p></p>
        </div>
        <div class="link">
            <!-- search button that redirects to the search page -->
            <!-- <button type="button"><a href="search.html">Search For Activity</a></button> -->
        </div>
    </div>
    <!-- user photo -->
    <div class="img">
        <!-- <img src="assets/images/jon.jpg" alt=""> -->
    </div>

    <script type="text/javascript">
        // // logo animation
        TweenMax.from(".logo", 1.6, {
            // it takes two seconds for it to load in
            delay: 4.5,
            // opacity is zero
            opacity: 0,
            // the animation will be moving on the y axis 
            y: 30,
            // the content will ease in and out
            ease: Expo.easeInOut
        });

        TweenMax.from(".logout", 1.6, {
                  // it takes two seconds for it to load in
                  delay: 4.5,
                  // opacity is zero
                  opacity: 0,
                  // the animation will be moving on the y axis 
                  y: 30,
                  // the content will ease in and out
                  ease: Expo.easeInOut
            });

            TweenMax.from(".search", 1.6, {
                  // it takes two seconds for it to load in
                  delay: 4.5,
                  // opacity is zero
                  opacity: 0,
                  // the animation will be moving on the y axis 
                  y: 30,
                  // the content will ease in and out
                  ease: Expo.easeInOut
            });


        TweenMax.from(".heading", 1.6, {
            delay: 3.8,
            opacity: 0,
            y: 30,
            ease: Expo.easeInOut
        });

        TweenMax.from(".desc", 1.6, {
            delay: 3.7,
            opacity: 0,
            y: 30,
            ease: Expo.easeInOut
        });

        TweenMax.from("button", 1.6, {
            delay: 3.8,
            opacity: 0,
            y: 30,
            ease: Expo.easeInOut
        });

        TweenMax.from(".watch", 1.6, {
            delay: 3.9,
            opacity: 0,
            y: 30,
            rotation: 90,
            ease: Expo.easeInOut
        });

        TweenMax.staggerFrom(".media ul li", 2, {
            delay: 4,
            opacity: 0,
            y: 40,
            ease: Expo.easeInOut
        }, 0.2);

    </script>
</body>

</html>
